@use '../utilities' as *;

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  width: min(100% - rem(40), rem(320));
  margin-inline: auto;
  overflow: hidden;
}
